* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  background-image: url(../img/bg_001.jpg);
}
ul li {
  display: inline-block;
  margin-right: 1vw;
}
li {
  color: white;
  font-weight: bold;
}

ul {
  text-align: right;
  position: relative;
  margin-top: 10vh;
  margin-right: 30vw;
}
#logo {
  position: absolute;
  width: 10vw;
  height: 7vh;
  margin-left: 20vw;
  top: 7vh;
}
a {
  color: white;
  text-decoration: none;
}
h1 {
  color: white;
  text-align: left;
  font-weight: bold;
  margin-left: 35vw;
  margin-top: 15vh;
  transform: scale(1.5);
}
p {
  color: white;
  text-align: left;
  font-weight: bold;
  margin-left: 20vw;
  margin-top: 7vh;
}
.phones {
  position: relative;
}
#phone1 {
  width: 17vw;
  height: 60vh;
  position: absolute;
  right: 33vw;
  top: -30vh;
  z-index: 2;
}
#phone2 {
  width: 17vw;
  height: 60vh;
  position: absolute;
  right: 27vw;
  top: -33vh;
  z-index: 1;
}
.buttons {
  position: relative;
}
#b1 {
  position: absolute;
  left: 23vw;
  margin-top: 10vh;
  transform: scale(2.5);
  background-color: green;
  border: none;
  font-size: xx-small;
  padding: 0.5vh 1vw;
  color: white;
  border-radius: 0.2rem;
}
#b2 {
  position: absolute;
  left: 35vw;
  margin-top: 10vh;
  transform: scale(2.5);
  background-color: blue;
  border: none;
  font-size: xx-small;
  padding: 0.5vh 1vw;
  color: white;
  border-radius: 0.2rem;
}
#bodyDiv {
  display: inline;
}
.hamburger {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: column;
  width: 3rem;
  height: 3rem;
  display: none;
}

.hamburger div {
  width: 2.5rem;
  border: 2px black solid;
}
.side-menu {
  background-color: orange;
  width: 15vw;
  height: 30vh;
  display: none;
}
