* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  background-image: url(../img/bg_001.jpg);
}
ul li {
  display: inline-block;
  margin-right: 1vw;
}
li {
  color: white;
  font-weight: bold;
}
ul {
  text-align: right;
  position: relative;
  margin-top: 10vh;
  margin-right: 35vw;
}
#logo {
  position: absolute;
  width: 200px;
  height: 75px;
  margin-left: 20vw;
  top: 4rem;
}
a {
  color: white;
}
h1 {
  color: white;
  text-align: left;
  font-weight: bold;
  margin-left: 20vw;
  margin-top: 10vh;
}
p {
  color: white;
  text-align: left;
  font-weight: bold;
  margin-left: 20vw;
  margin-top: 3vh;
}
#phone1 {
  float: right;
  width: 300px;
  height: 600px;
  position: relative;
  top: -20vh;
  z-index: 1;
}
#phone2 {
  margin-right: 25vw;
  float: right;
  width: 300px;
  height: 600px;
  position: relative;
  top: -20vh;
  z-index: 2;
}
